VITE_BASE_PATH=""
QBDS_REGISTRY_URL="http://localhost:4123"

FIGMA_ACCESS_TOKEN=
FIGMA_URL_QBDS_BADGE_NUMERIC=
FIGMA_URL_QBDS_BADGE_ICON_LABEL=
FIGMA_URL_QBDS_BADGE_LABEL_ONLY=
FIGMA_URL_QBDS_BADGE_DOT_LABEL=
FIGMA_URL_QBDS_BADGE_HINT_DOT=
