VITE_BASE_PATH=""
QBDS_REGISTRY_URL="http://localhost:4123"

FIGMA_ACCESS_TOKEN=
FIGMA_URL_QBDS_AVATAR=
FIGMA_URL_QBDS_AVATAR_GROUP_STACKED=
FIGMA_URL_QBDS_BADGE_NUMERIC=
FIGMA_URL_QBDS_BADGE_ICON_LABEL=
FIGMA_URL_QBDS_BADGE_LABEL_ONLY=
FIGMA_URL_QBDS_BADGE_DOT_LABEL=
FIGMA_URL_QBDS_BADGE_HINT_DOT=
FIGMA_URL_QBDS_BUTTON_ICON=
FIGMA_URL_QBDS_BUTTON_TEXT=
FIGMA_URL_QBDS_TOGGLE_ICON=
FIGMA_URL_QBDS_TOGGLE_TEXT=
FIGMA_URL_QBDS_BUTTON_GROUP=
FIGMA_URL_QBDS_ICON_SHELL=
FIGMA_URL_QBDS_ACCORDION=
FIGMA_URL_QBDS_ACCORDION_ITEM=
FIGMA_URL_QBDS_ASPECT_RATIO=
FIGMA_URL_QBDS_ALERT_BANNER=
FIGMA_URL_QBDS_MENU_CONTEXT=
FIGMA_URL_QBDS_MENU_ITEM_CONTEXT=
FIGMA_URL_QBDS_MENU_ITEM_SUBTRIGGER=
FIGMA_URL_QBDS_SIDEBAR_NAV=
FIGMA_URL_QBDS_SIDEBAR_MENU_ITEM=
FIGMA_URL_QBDS_SIDEBAR_UTILITY_ITEM=
FIGMA_URL_QBDS_LEFT_NAV=
FIGMA_URL_QBDS_TABS=
FIGMA_URL_QBDS_TABS_GROUP=
FIGMA_URL_QBDS_TOOLTIP=
FIGMA_URL_QBDS_TOOLTIP_MULTI=
FIGMA_URL_QBDS_NAV_MENU=
FIGMA_URL_QBDS_NAV_MENU_ITEM=
FIGMA_URL_QBDS_NAV_MENU_HEADER=
FIGMA_URL_QBDS_FORM=
FIGMA_URL_QBDS_SELECT=
FIGMA_URL_QBDS_SELECT_GHOST=
FIGMA_URL_QBDS_SELECT_MULTI=
FIGMA_URL_QBDS_SELECT_MULTI_GHOST=
FIGMA_URL_QBDS_SELECT_GROUP_HORIZONTAL=
FIGMA_URL_QBDS_SELECT_GROUP_VERTICAL=
FIGMA_URL_QBDS_RADIO_BUTTON=
FIGMA_URL_QBDS_RADIO_GROUP_ITEM=
FIGMA_URL_QBDS_RADIO_GROUP_LIST_VERTICAL=
FIGMA_URL_QBDS_RADIO_GROUP_LIST_HORIZONTAL=
FIGMA_URL_QBDS_CHECKBOX=
FIGMA_URL_QBDS_CHECKBOX_GROUP_ITEM=
FIGMA_URL_QBDS_CHECKBOX_GROUP_LIST_VERTICAL=
FIGMA_URL_QBDS_CHECKBOX_GROUP_LIST_HORIZONTAL=
FIGMA_URL_QBDS_SLIDER_SINGLE_VALUE=
FIGMA_URL_QBDS_SLIDER_RANGE=
FIGMA_URL_QBDS_SLIDER_BASE_ACTIVE_TRACK=
FIGMA_URL_QBDS_SLIDER_BASE_SINGLE=
FIGMA_URL_QBDS_SLIDER_BASE_RANGE=
FIGMA_URL_QBDS_TAG=
FIGMA_URL_QBDS_TAG_TOGGLE=
FIGMA_URL_QBDS_TAG_GROUP_DISMISSABLE=
FIGMA_URL_QBDS_TAG_GROUP_TOGGLE=
FIGMA_URL_QBDS_TAG_GROUP_AVATAR=
FIGMA_URL_QBDS_TAGS_DISMISSABLE_SLOT=
FIGMA_URL_QBDS_SWITCH=
FIGMA_URL_QBDS_TOOLBAR=
FIGMA_URL_QBDS_SONNER=
FIGMA_URL_QBDS_FIELD_LABEL=
FIGMA_URL_QBDS_FIELD_HELP_TEXT=
FIGMA_URL_QBDS_FIELD_STATUS=
FIGMA_URL_QBDS_FIELD_COUNTER=
FIGMA_URL_QBDS_TEXTAREA=
FIGMA_URL_QBDS_BUTTON_SPLIT=
FIGMA_URL_QBDS_ICON_BUTTON_SPLIT=
FIGMA_URL_QBDS_CARD=
FIGMA_URL_QBDS_CARD_STAT_COUNT=
FIGMA_URL_QBDS_CARD_STAT_COUNT_GROUP=
FIGMA_URL_QBDS_CARD_LABEL_ENTRY=
FIGMA_URL_QBDS_CARD_ATTRIBUTION=
