VITE_BASE_PATH=""
QBDS_REGISTRY_URL="http://localhost:4123"

FIGMA_ACCESS_TOKEN=
FIGMA_URL_QBDS_AVATAR=
FIGMA_URL_QBDS_BADGE_NUMERIC=
FIGMA_URL_QBDS_BADGE_ICON_LABEL=
FIGMA_URL_QBDS_BADGE_LABEL_ONLY=
FIGMA_URL_QBDS_BADGE_DOT_LABEL=
FIGMA_URL_QBDS_BADGE_HINT_DOT=
FIGMA_URL_QBDS_BUTTON_ICON=
FIGMA_URL_QBDS_BUTTON_TEXT=
FIGMA_URL_QBDS_BUTTON_GROUP=
FIGMA_URL_QBDS_ICON_SHELL=
FIGMA_URL_QBDS_ACCORDION=
FIGMA_URL_QBDS_ACCORDION_ITEM=
FIGMA_URL_QBDS_ASPECT_RATIO=
FIGMA_URL_QBDS_TABS=
FIGMA_URL_QBDS_TABS_GROUP=
FIGMA_URL_QBDS_TOOLTIP=
FIGMA_URL_QBDS_TOOLTIP_MULTI=